    <%= render 'layouts/head' %>
    <body class="skin-blue">
        <%= render 'layouts/notifbar' %>
        <div class="wrapper row-offcanvas row-offcanvas-left">
        <%= render 'layouts/nav' %>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side"> 
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <%= yield(:title) %>
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active"><%= yield(:title) %></li>
                    </ol>
                </section>